body {
  margin: 0px;
  background-color: rgb(218, 213, 213);
}

#app {
  font-size: xx-large;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;

  border: solid black 5px;
}

td.covered {
  background-color: gray;
}

td.uncovered {
  background-color: aqua;
}

.info {
  text-align: center;
  font-family: Cambria, serif;
}

.info ul {
  display: inline;
  list-style-type: none;
}

.info h3 { margin: 0.12em 0 }